<h1 class= "display">Become a cocktail expert</h1>

<div class="container">
  <div class= "d-flex flex-wrap flex-row align-items-end space-around">
    <% @cocktails.each do |cocktail|%>
    <%= cl_image_tag("lqodqjvfbjui88qog8sr",
    width: 400, height: 300, crop: :fill) %>
      <div><%= link_to cocktail.name.capitalize, cocktail_path(cocktail) %></div>
    <% end %>
    <br>
    <p class="btn btn-dark"><%= link_to "Create a new cocktail", new_cocktail_path %></p>
  </div>
</div>

